@media screen and (min-width: 480px) {
  .mob-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #4d5ae5;
  }
  .header-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .hero-container {
    width: 100%;
    max-width: 350px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .advantage-container {
    width: 100%;
    max-width: 426px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .team-container {
    max-width: 290px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
.mob-menu-link.current{
  color: var(--action-color);
}
  /* customers */

  .container {
    max-width: 426px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .contacts-list-item {
    width: calc((100% - 30px) / 2);
  }
  .modal {
    max-height: 586px;
  }

  .projects-container{
    width: 100%;
    max-width: 426px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

  }
}
