@media screen and (min-width: 764px) {

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/Dark-bg\ -tablet2x\ \(1\).jpg);
  }
}
/* header */

.header-list {
  display: flex;
  gap: 40px;
}

.header-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  top: 43px;
  background: var(--action-color);
  border-radius: 2px;
  content: "";
}

.header-link.current {
  color: var(--action-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--action-color);
}

.contacts-list {
  display: flex;
}

.header-email {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-email:hover,
.header-email:focus {
  color: var(--action-color);
}

.header-tel {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: 40px;
}
/* hero */
.hero{
  padding-bottom: 108px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg\ tablet\ \(1\).jpg);
}

  .hero-container{
    width: 100%;
    max-width: 526px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

  }

  .hero-title {
  margin: 0 auto;
  max-height: 120px;
  height: 100%;
  width: 100%;
  max-width: 496px;
  color: white;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.hero-button{
  margin-top: 40px;
}


  .services {
    display: none;
  }
  /* advantage */
  .advantage-item {
    width: calc((100% - 30px) / 2);
  }
  .advantage-item-title {
    text-align: start;
  }
  .advantage-container {
    max-width: 766px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .advantage-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .advantage-item:not(:nth-child(3)):not(:nth-child(4)) {
    padding-bottom: 72px;
  }

  /* team */
  .team-container {
    max-width: 582px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .team-item {
    width: calc((100% - 30px) / 2);
  }
  .team-list {
    gap: 24px;
  }

  .team {
    background-color: var(--secondary-bg-color);
    padding-bottom: 104px;
    padding-top: 96px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  /* customers */
  .container {
    max-width: 582px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .contacts-list-item {
    width: calc((100% - 30px) / 3);
  }

  .customer-list {
    flex-wrap: wrap;
    display: flex;
    gap: 24px;
    row-gap: 72px;
  }

  .customer-box {
    min-width: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88px;
    border: 1px solid #8e8f99;
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* footer */
  .footer-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .footer-logo {
    margin-right: auto;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    padding-bottom: 16px;
  }

  .footer-paragraph {
    margin-right: auto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #e7e9fc;
    max-width: 268px;
    padding-bottom: 72px;
  }
  .logo-socials-cont {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-title {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    display: flex;
    margin-right: auto;
    margin-bottom: 16px;
  }
  .footer-links {
    margin-left: 24px;
  }
  .footer-subscribe {
  }
  .footer-form {
    max-width: 453px;
    width: 453px;
    display: flex;
    gap: 24px;
  }
  .footer-email {
    max-width: 264px;
    width: 100%;
  }
}